.contentContainer {
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottomButton {
    min-width: min-content;
    justify-self: flex-end;
    margin: auto;
    width: 100%;
}
.shopInteractiveElement, textarea {
    height: 2.1rem;
    width: 100%;
    font-size: 1.2rem;
    overflow: hidden;
    border: solid rgba(0, 0, 225, 0.5) 2px;
    border-radius: 3px;
}
.shopInteractiveElement[type='button'], .shopInteractiveElement[type='submit'] {
    background: linear-gradient(0.25turn, rgba(0, 225, 0, 0.1), rgba(0, 0, 225, 0.3));
    border: solid rgba(0, 0, 225, 0.2) 1px;
    outline: solid rgba(0, 0, 225, 0.2) 1px;
    cursor: pointer;
}
@keyframes shopButtonAnim {
    0% {
        background: linear-gradient(0.25turn, rgba(0, 225, 0, 0.1), rgba(0, 0, 225, 0.3));
    }
    25% {
        background: linear-gradient(0.25turn, rgba(0, 225, 0, 0.1), rgba(0, 225, 0, 0.1), rgba(0, 0, 225, 0.3),rgba(0, 0, 225, 0.3), rgba(0, 225, 0, 0.1));
    }
    50% {
        background: linear-gradient(0.25turn, rgba(0, 225, 0, 0.1), rgba(0, 0, 225, 0.3), rgba(0, 0, 225, 0.3), rgba(0, 225, 0, 0.1));
    }
    75% {
        background: linear-gradient(0.25turn, rgba(0, 225, 0, 0.1), rgba(0, 0, 225, 0.3), rgba(0, 0, 225, 0.3), rgba(0, 225, 0, 0.1), rgba(0, 225, 0, 0.1));
    }
    100% {
        background: linear-gradient(0.25turn, rgba(0, 0, 225, 0.3), rgba(0, 225, 0, 0.1));
    }
}
.shopInteractiveElement[type='button']:hover, .shopInteractiveElement[type='submit']:hover {
    animation-name: shopButtonAnim;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    background: linear-gradient(0.25turn, rgba(0, 0, 225, 0.3), rgba(0, 225, 0, 0.1));
}
.shopBottomButton {
    width: 210px;
}
.labelInput {
    margin: 0;
}
.activeButton {
    background-color: white;
}
input[type="text"], input[type="password"] {
    box-sizing: border-box;
}
input[type="button"] {
    cursor: pointer;
}
.shopLink {
    text-decoration: none;
    color: black;
}
.shopH1 {
    font-size: 1.2rem;
    font-weight: bold;
    align-self: flex-start;
}
.cardPlace {
    padding: 5px;
}
.headButtons {
    display: flex;
    justify-content: center;
    border: solid rgba(0, 0, 225, 0.5) 3px;
    border-radius: 7px;
    background-color: transparent;
}
.headButton {
    border: none;
    flex-grow: 1;
    cursor: pointer;
    height: 2.1rem;
    font-size: 1rem;
    background-color:rgba(0, 225, 0, 0.1);
}
.activeHeadButton {
    border-radius: 5px;
    background-color: rgba(0, 0, 225, 0.3);
    border: none !important;
}
.headButton:first-child {
    border-right: 1px solid lightgray;
    border-radius: 5px;
}
.headButton:last-child {
    border-left: 1px solid lightgray;
    border-radius: 5px;
}
.headContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
@media (max-width: 430px) {
    .cardPlace {
        display: flex;
        flex-direction: column;
    }
    .headButtons {
        width: 100%;
        box-sizing: border-box;
    }
}
@media (min-width: 430px) {
    .cardPlace {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
    .bottomButton {
        width: 50%;
    }
    .headButtons {
        width: 50%;
        min-width: min-content;
    }
    .shopH1 {
        align-self: center;
    }
}