.restoreRegisterForm, .newPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.restoreRegisterForm > *, .newPasswordForm > * {
    margin-bottom: 10px;
}
@media (max-width: 430px) {
    .restoreRegisterForm, .newPasswordForm {
        padding: 50px 10px;
        justify-content: flex-start;
    }
    .labelContainer {
        width: 100%;
    }
}
@media (min-width: 430px) {
    .restoreRegisterForm, .newPasswordForm {
        width: 50%;
    }
    .labelContainer {
        width: 70%;
    }
}